### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Pandas-Challenge/PandaChallResources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
player_count = len(purchase_data.SN.unique())
player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items_count = len(purchase_data["Item Name"].unique())

average_price = purchase_data["Price"].mean()

total_purchases = len(purchase_data["Purchase ID"])

total_revenue = purchase_data["Price"].sum()

In [7]:
purchasing_analysis_total_df = pd.DataFrame({"Number of Unique Items":[unique_items_count],
                                            "Average Price":[average_price],
                                            "Number of Purchases":[total_purchases], 
                                            "Total Revenue":[total_revenue]})
                                            
purchasing_analysis_total_df = purchasing_analysis_total_df.style.format(
                                                {"Average Price":"${:,.2f}",
                                                "Total Revenue":"${:,.2f}"})
purchasing_analysis_total_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
male_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
total_male = male_df["SN"].unique()
len(total_male)

484

In [9]:
female_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
total_female = female_df["SN"].unique()
len(total_female)

81

In [10]:
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
total_other = other_df["SN"].unique()
len(total_other)

11

In [11]:
gender_demographics_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                    "Total Count": [len(total_male),len(total_female),len(total_other)],
                                    "Percentage of Players": [len(total_male)/player_count * 100,
                                    len(total_female)/player_count * 100, len(total_other)/player_count * 100]})

gender_df = gender_demographics_df.set_index("Gender")

gender_df = gender_df.style.format({"Percentage of Players":"{:,.2f}%"})
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
len(male_df)
len(female_df)
len(other_df)

15

In [13]:
male_purchase = male_df["Price"].sum()
female_purchase = female_df["Price"].sum()
other_purchase = other_df["Price"].sum()

In [14]:
male_purchase/len(male_df)
female_purchase/len(female_df)
other_purchase/len(other_df)

3.3459999999999996

In [15]:
male_purchase/len(total_male)
female_purchase/len(total_female)
other_purchase/len(total_other)

4.5627272727272725

In [16]:
purchasing_analysis_gender_df = pd.DataFrame({"Gender": ["Female","Male","Other / Non-Disclosed"],
                                "Purchase Count":[len(female_df),len(male_df),len(other_df)],
                                "Average Purchase Price":[female_purchase/len(female_df),male_purchase/len(male_df),other_purchase/len(other_df)],
                                "Total Purchase Value": [female_purchase,male_purchase,other_purchase],
                                "Avg Total Purchase per Person":[female_purchase/len(total_female),male_purchase/len(total_male),other_purchase/len(total_other)]})

gender_purchasing_df = purchasing_analysis_gender_df.set_index("Gender")
gender_purchasing_df.index.name = "Gender"

gender_purchasing_df = gender_purchasing_df.style.format({"Average Purchase Price":"${:,.2f}",
                                                        "Total Purchase Value":"${:,.2f}",
                                                        "Avg Total Purchase per Person":"${:,.2f}"})
gender_purchasing_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
purchase_data_c = purchase_data.drop_duplicates(subset=["SN"])

bins = [0,9,14,19,24,29,34,39,80]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

purchase_data_c["Age Groups"] = pd.cut(purchase_data_c["Age"], bins,labels=group_names)

/var/folders/5b/vwmptz0s5wx33k249kc8dmjw0000gn/T/ipykernel_20898/1734647391.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_data_c["Age Groups"] = pd.cut(purchase_data_c["Age"], bins,labels=group_names)

In [18]:
age_count = purchase_data_c["Age Groups"].value_counts()
 
percentage = (age_count / len(purchase_data_c)) * 100

In [19]:
age_demograhics_df = pd.DataFrame({"Total Count" : age_count,
                               "Percentage of Players" : percentage})
age_demograhics_df = age_demograhics_df.sort_index()
age_demograhics_df = age_demograhics_df.style.format({"Percentage of Players":"{:,.2f}%"})
age_demograhics_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins,labels=group_names)

age_counts = purchase_data["Age Groups"].value_counts()
avg_purchase_price = purchase_data.groupby("Age Groups")["Price"].mean()
total_purchase_per_group = purchase_data.groupby("Age Groups")["Price"].sum()
avg_per_purchase = total_purchase_per_group / age_count

In [21]:
purchasing_analysis_df = pd.DataFrame({"Purchase Count":age_counts,
                                    "Average Purchase Price":avg_purchase_price,
                                    "Total Purchase Value":total_purchase_per_group,
                                    "Avg Total Purchase per Person":avg_per_purchase})
                                  
purchasing_analysis_df = purchasing_analysis_df.rename_axis("Age Groups")

purchasing_analysis_df = purchasing_analysis_df.style.format({"Average Purchase Price":"${:,.2f}",
                                                            "Total Purchase Value":"${:,.2f}",
                                                            "Avg Total Purchase per Person":"${:,.2f}"})

purchasing_analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
per_individual_purchases = purchase_data.SN.value_counts()

avg_per_individual = purchase_data.groupby("SN")["Price"].mean()

total_per_individual = per_individual_purchases * avg_per_individual

In [23]:
top_spenders_df = pd.DataFrame({"Purchase Count":per_individual_purchases,
                                "Average Purchase Price":avg_per_individual,
                                "Total Purchase Value":total_per_individual})

top_spenders_df = top_spenders_df.rename_axis("SN")

top_spenders_df = top_spenders_df.sort_values("Purchase Count", ascending = False)

top_spenders_df = top_spenders_df.style.format({"Average Purchase Price":"${:,.2f}",
                                                "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
most_purchased = purchase_data.groupby(["Item ID","Item Name"])["Price"].count()
total_value = purchase_data.groupby(["Item ID","Item Name"])["Price"].sum()
item_price = total_value / most_purchased

In [25]:
most_popular_df = pd.DataFrame({"Purchase Count": most_purchased,
                                "Item Price": item_price,
                                "Total Purchase Value": total_value})                                

most_popular_df = most_popular_df.sort_values("Purchase Count", ascending= False)

most_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [29]:
purchase_sorted = most_popular_df.sort_values("Total Purchase Value", ascending= False)
purchase_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
126,Exiled Mithril Longsword,1,2.000000,2.00
125,Whistling Mithril Warblade,2,1.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75